.standard-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-column-gap: 0;
}
@media (min-width: 768px) {
  .standard-grid-wrapper {
    grid-column-gap: 1rem;
  }
}
@media (min-width: 901px) {
  .standard-grid-wrapper {
    grid-column-gap: 1.5rem;
  }
}

html {
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  min-height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.logo {
  display: block;
  width: 4rem;
}

main article {
  background-color: #ffffff;
  grid-column: 1/-1;
  height: max-content;
}
main article .content-wrapper {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-column-gap: 0;
}
@media (min-width: 768px) {
  main article .content-wrapper {
    grid-column-gap: 1rem;
  }
}
@media (min-width: 901px) {
  main article .content-wrapper {
    grid-column-gap: 1.5rem;
  }
}
main article .content {
  grid-column: 1/-1;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 80rem;
}
@media (min-width: 901px) {
  main article .content {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  main article .content {
    grid-column: 2/-2;
    margin: 0;
  }
}
main .navigation--secondary {
  grid-column: 1/span 6;
}
main .navigation--secondary + article {
  grid-column: 7/span 18;
}

.js .nojs-only {
  display: none;
}

.global-footer {
  width: 100%;
}

.footer-opening-hours {
  width: 100%;
}

.global-header {
  width: 100%;
}

.navigation-primary {
  background: white;
}

.navigation-secondary {
  background: white;
}

.navigation-mobile {
  background: white;
}