body {
  background-color: green;
}

div {
  z-index: 3;
}

.global-footer {
  width: 100%;
}

.footer-opening-hours {
  width: 100%;
}

.global-header {
  width: 100%;
}

.navigation-primary {
  background: white;
}

.navigation-secondary {
  background: white;
}

.navigation-mobile {
  background: white;
}