.standard-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-column-gap: 0;
}
@media (min-width: 768px) {
  .standard-grid-wrapper {
    grid-column-gap: 1rem;
  }
}
@media (min-width: 901px) {
  .standard-grid-wrapper {
    grid-column-gap: 1.5rem;
  }
}

html {
  background-color: #0c0c0e;
  color: #ffffff;
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  min-height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.logo {
  display: block;
  width: 4rem;
}

main article {
  background-color: #ffffff;
  grid-column: 1/-1;
  height: max-content;
}
main article .content-wrapper {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-column-gap: 0;
}
@media (min-width: 768px) {
  main article .content-wrapper {
    grid-column-gap: 1rem;
  }
}
@media (min-width: 901px) {
  main article .content-wrapper {
    grid-column-gap: 1.5rem;
  }
}
main article .content {
  grid-column: 1/-1;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 80rem;
}
@media (min-width: 901px) {
  main article .content {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  main article .content {
    grid-column: 2/-2;
    margin: 0;
  }
}
main .navigation--secondary {
  grid-column: 1/span 6;
}
main .navigation--secondary + article {
  grid-column: 7/span 18;
}

.js .nojs-only {
  display: none;
}

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul,
dl,
dt,
dd,
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

b,
strong {
  font-weight: 700;
}

a,
button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
  overflow: visible;
  padding: 0;
  touch-action: manipulation;
}

label,
select {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

iframe {
  display: block;
  margin: 1rem;
}

address {
  font-style: inherit;
}

html {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizeLegibility;
}
@media (min-width: 1280px) and (max-width: 1919px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1920px) and (max-width: 3839px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 3840px) and (max-width: 7679px) {
  html {
    font-size: 46px;
  }
}
@media (min-width: 7680px) {
  html {
    font-size: 92px;
  }
}

.global-footer {
  background: #0c0c0e;
  color: #ffffff;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1024px) {
  .global-footer {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 80rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    grid-template-columns: repeat(24, 1fr);
    grid-column-gap: 0;
  }
}
@media (min-width: 1024px) and (min-width: 901px) {
  .global-footer {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media (min-width: 1024px) and (min-width: 901px) {
  .global-footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1024px) and (min-width: 1441px) {
  .global-footer {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) and (min-width: 768px) {
  .global-footer {
    grid-column-gap: 1rem;
  }
}
@media (min-width: 1024px) and (min-width: 901px) {
  .global-footer {
    grid-column-gap: 1.5rem;
  }
}

.global-footer__container {
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 901px) {
  .global-footer__container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.global-footer__header-logo {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: -0.5px;
  font-size: 2.5rem;
  font-family: "ff-meta-web", Arial, Helvetica, sans-serif;
}
.global-footer__header-logo:visited {
  color: #ffffff;
}
.global-footer__header-logo span.global-footer__logo-style {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.global-footer__social-media {
  display: flex;
  flex-direction: row;
}

.global-footer__row {
  margin-top: 1rem;
  display: flex;
  column-gap: 1rem;
}
.global-footer__row:nth-of-type(2) .global-footer__content {
  display: flex;
  width: 100%;
}
.global-footer__row:nth-of-type(2) .global-footer__content__text {
  flex-basis: 75%;
}
.global-footer__row:nth-of-type(2) .global-footer__content__text p {
  margin-bottom: 1rem;
}
.global-footer__row:nth-of-type(2) .global-footer__content__logo {
  flex-basis: 25%;
  display: flex;
  justify-content: flex-end;
}
.global-footer__row:nth-of-type(2) .logo {
  height: 100%;
}

.global-footer__content__text__copyright {
  font-weight: 700;
}

.global-footer__col {
  flex-basis: 25%;
}
.global-footer__col ul {
  list-style-type: none;
}

hr {
  border-color: #979797;
  margin-top: 3rem;
}

.footer-opening-hours {
  width: 100%;
}

.global-header {
  width: 100%;
}

.navigation-primary {
  background: white;
}

.navigation-secondary {
  background: white;
}

.navigation-mobile {
  background: white;
}